<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit</title>
	</head>
	<body>
		<h1>Edit Song</h1>
		<form action="/songs/<%= song.id %>/edit ">
			<input type="text" name="song" id="" placeholder="<%= song.song %> " />
		</form>
		<button>Save</button>
		<a href="/songs">Back To Songs</a>
	</body>
</html>
